.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 600px;
    margin: 80px auto;
}

.square {
    border: 1px solid rgba(255, 255, 255, .1);
    height: calc(500px / 3);
    width: calc(500px / 3);
    cursor: pointer;
    border-radius: 20px;
    margin: 5px;
}

.square:hover:not(.taken) {
    background-color: #3e5368;
    -webkit-transition: background-color 150ms;
    -ms-transition: background-color 150ms;
    transition: background-color 150ms;
}

.taken {
    background-color: #3e5368;
}

.taken.won {
    animation: win infinite alternate ease-in-out .54s;
}

.gameOver {
    pointer-events: none;
    filter: blur(2px);
}

.board-wrppaer {
    position: relative;
}

@keyframes win {
    0% {
        background-size: 40%;
    }

    100% {
        background-size: 50%;
    }
}

@media(max-width: 576px) {
    .board {
        width: 90%;
        margin: 100px auto;
    }

    .square {
        flex-grow: 1;
        width: 28%;
        height: 100px;
    }
}