body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.action-button {
  background-color: red;
  box-shadow: 0 5px 0 darkred;
  color: white;
  padding: 1em 1.5em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.action-button:hover {
  background-color: #ce0606;
  cursor: pointer;
}
.action-button:active {
  box-shadow: none;
  top: 5px;
} 


.player1-avatar{
  background: url("./media/icons8-wolverine-50.png") no-repeat center;
}

.player2-avatar{
  background: url("./media/icons8-magneto-50.png") no-repeat center;
}

.disable-events{
  pointer-events: none;
}
